{% extends 'base.html.twig' %}

{% block title %}Hello ReadingController!{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('asset/logomyactivtransparent.png') }}" alt="logo"/>
        <h1 class="text-center mt-5 mb-5">Bienvenue dans mon univers de Hobbies</h1>
    </header>

    <h2>ici seront toute les images et description de mes projets crochets</h2>

    <a class="nav-link active" href="{{ path('myactiv') }}">Accueil</a>

{% endblock %}
