{% extends 'base.html.twig' %}

{% block title %}Hello CrochetController!{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('asset/logomyactivtransparent.png') }}" alt="logo"/>
        <h1 class="text-center mt-5 mb-5">Mes projets aux crochet 😉</h1>
    </header>


    <a class="nav-link active" href="{{ path('myactiv') }}">Accueil</a>


    <h2>ici seront toute les images et description de mes projets crochets</h2>

{% endblock %}
